name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=shamsiraptorz/testapp
          TAG=$(date +%s)
          docker build . -f Dockerfile -t $IMAGE_NAME:$TAG

      - name: Push Docker image
        run: |
          IMAGE_NAME=shamsiraptorz/testapp
          TAG=$(date +%s)
          docker push $IMAGE_NAME:$TAG
